body {
    margin: 0px;
}

body,
html {
    height: 100%;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}
#titleText {
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

#imageText {
    color: white;
    font-size: 30px;
}
a {
    text-decoration: none !important
}

#centerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#mainText {
    color: white;
    font-size: 6em;
}